<!DOCTYPE html>
<html>
<head>
        <!--specifies title of the page !-->
    <title>Music</title>

<body>
<h2> Music I've Been Listening to in No Particular Order</h2>
<!--this links to an external page!-->
<ul>
 <li><b>Killing Me Softly With His Song</b> by the Fugees, eternal favorite song of all time, will never stop playing</li>
 <li><b>April Come She Will </b> by Simon & Garfunkel, this song is a nice reminder of the passing of seasons even in wack times like these </li>
 <li><b>Anybody</b> by Burna Boy --Quarantine is for dancing-- </li>
</ul>
 <a href="https://open.spotify.com/playlist/779Q8BOGN1Noa57BISHOg2?si=YGLDUlwwQxaG9j6ll_NWWQ">Visit my spotify playlist for the month of April</a>   
 <a href="/">Home</a> <br>
    </body>
</html>

