<!DOCTYPE html>
</section>
<html>

    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <center><b>Hello! My name is Erin Cooper.</b></center>
    <body>
   <img src="{{url_for('static', filename='headshot.jpg')}}" align="middle" height="250" width="200" alt = "picture of my face" />
    
    <p>I am a sophomore and I am studying Mechanical Engineering and Applied Physics.</p>
    <a href="/classes">Click here to see the classes I have taken this semester</a> <br>
    <a href="/moosic">Click here to see what I've been listening to</a> <br>
    <p> (my favorite websites used to be calming manatees and serendipity by spotify but since those have been shut down..)</p>
    <a href="https://www.themoth.org/">Click here to see my favorite website</a> 
     
    </body>
</html>

