<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 13px;
}
</style>
</head>
<body>

<h2> Table of the Classes I've Taken This Semester</h2>
 <table style="width:100%">
  <tr>
    <th>Classes</th>
    <th>Descriptions</th>
  </tr>
  <tr>
    <td>Multivariable Calculus</td>
    <td>Differential and integral calculus of multiple variables. This was my favorite class this semester because of the engaging homework problems and the way the incredible things you are able to model! </td>
    
  </tr>
    <tr>
    <td>Hispanic Cultures II</td>
    <td> This course surveys cultural production of Spain and Spanish America from the eighteenth to the twenty-first centuries.</td>
    </td>
  
   <tr>
    <td>Foundations of Data Science</td>
    <td> Given data arising from some real-world phenomenon, how does one analyze that data so as to understand that phenomenon? The course teaches critical concepts and skills in computer programming, statistical inference and machine learning, in conjunction with hands-on analysis of real-world data sets such as economic data, document collections, geographical data, and social networks. </td>
    </td>
  
   <tr>
    <td>Introduction to Computer Science</td>
    <td>Introduces computational thinking, algorithmic problem solving and Python programming with applications in science and engineering. Assumes no prior programming background. </td>
    </td>
    
       <tr>
    <td>Quantum Physics</td>
    <td> Classical waves and the wave equation, Fourier series and integrals, normal modes, wave-particle duality, the uncertainty principle, basic principles of quantum mechanics, energy levels, reflection and transmission coefficients, applications to atomic physics.</td>
    </td>
  </tr>
</table> 
<a href="/">Home</a> <br>
</body>
</html>